body { background: #255fe2; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 43px; display: flex; }
.block-helper-0 { color: #b10676; font-size: 16px; margin-bottom: 5px; }
.block-token-1 { color: #8515d6; font-size: 20px; margin-bottom: 5px; }
.block-cluster-2 { color: #b9f66f; font-size: 13px; margin-bottom: 5px; }
.block-filter-3 { color: #49cc1; font-size: 17px; margin-bottom: 5px; }
.block-token-4 { color: #4358d6; font-size: 13px; margin-bottom: 5px; }
.block-payment-5 { color: #247bef; font-size: 16px; margin-bottom: 5px; }
.block-sms-6 { color: #c94171; font-size: 17px; margin-bottom: 5px; }